<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miao.mapper.StudentMapper">


    <select id="queryStudentByTeacher" resultType="com.miao.domain.Student" parameterType="integer">
        SELECT *
        FROM student s
        WHERE s.`stu_id` IN (SELECT stu_id FROM stu_teacher_rel st WHERE teacher_id =#{teacher_id})
    </select>

    <!--插入学生-->
    <insert id="insertStudent" parameterType="com.miao.domain.Student" useGeneratedKeys="true" keyProperty="stu_id" keyColumn="stu_id">

        insert into `student`(stu_name) values(#{stu_name})
    </insert>
</mapper>
